<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img class="top-left-image" src="{{ url_for('static', filename='Virginia_Tech_logo.svg.png') }}" alt="Top Left Image">
    <h1 class="title">Lead Report</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Action</th>
                <th>Part Number</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                {% if loop.index > 1 %}
                    <tr>
                        <td>{{ log.user }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.part_number }}</td>
                        <td>{{ log.timestamp }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
